@import "../../dashboard/dashboard.component.scss";

#group{
    background-color: rgb(230, 240, 240);

}
#vehiclename{
    font-weight: 800;
}
.form-label{
    font-size: large;
    color: black;
}
select{
    font-size: large;
}
label{
    font-size: large;
}
form{
    margin-top: 2%;
}
