<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-1 position-relative">
      <div class="page__content-data position-absolute">
        <form   class="container-fluid p-1" id="group" [formGroup]="addVehicleForm" (ngSubmit)="submitVehicle()">
          <div>
              <div>
                  <label for="vehiclename" class="form-label">Vehicle Name</label>
                  <input type="text" class="form-control" id="vehiclename" placeholder="Enter Vehicle Name" formControlName="vehiclename" [value]="vehicle.vehicleName">
              </div>
              <div>
                  <label for="vehiclenumber" class="form-label">Vehicle Number</label>
                  <input type="text" value="{{vehicle.vehicleNumber}}" class="form-control" id="vehiclenumber" placeholder="Enter Vehicle Number" formControlName="vehiclenumber" [value]="vehicle.vehicleNumber">
              </div>
              <div class="row">
                  <div class="col">
                      <div class="dropdown">
                          <label for="seatingcapacity">Seating Capacity</label>
                          <select id="seatingcapacity" class="form-control" formControlName="seatingcapacity" [(ngModel)]="vehicle.seatingCapacity">
                              <option *ngIf="editable" [value]="vehicle.seatingCapacity">{{vehicle.seatingCapacity}}</option>
                              <option >4</option>
                              <option >6</option>
                              <option >8</option>
                              <option >9</option>
                          </select>

                      </div>

                  </div>
                  <div class="col">
                      <label for="fueltype">Fuel Type</label>
                      <select id="fueltype" class="form-control" formControlName="fueltype" [(ngModel)]="vehicle.fuelType">
                          <option [ngValue]="vehicle.fuelType">{{vehicle.fuelType}}</option>
                          <option value="Petrol">Petrol</option>
                          <option value="Diesel">Diesel</option>
                      </select>
                  </div>
                  <div  class="col">
                      <label for="branddetails">Brand Details</label>
                      <select id="branddetails" class="form-control" formControlName="branddetails" >
                          <!-- <option *ngIf="editable">{{brandn}}</option> -->
                          <option *ngFor="let brandDetail of brandDetailsBackend" [value]="brandDetail.brandName">
                              {{brandDetail.brandName}}
                          </option>
                      </select>

                    </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label for="rentdetails" class="form-label">Rent Details</label>
                      <input type="text" class="form-control" id="rentdetails" placeholder="Enter Rent Details" formControlName="rentdetails" >
                  </div>
              </div>
              <div class="row">
                  <label for="vehiclename" class="form-label">Images</label>
                  <div class="col">
                      <input type="text" class="form-control" id="image1" formControlName="image1" placeholder="Image 1 URL">
                  </div>
                  <div class="col">
                      <input type="text" class="form-control" id="image2" formControlName="image2" placeholder="Image 2 URL">
                  </div>
                  <div class="col">
                      <input type="text" class="form-control" id="image3" formControlName="image3" placeholder="Image 3 URL">
                  </div>
              </div>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-primary"  *ngIf="!editable">Submit</button>
              <button type="button" (click)="update()" class="btn btn-primary"  *ngIf="editable"  >Update</button>
              &nbsp;
              <button type="button" class="btn btn-danger" routerLink="/admin/managevehicle">Back</button>
          </div>
      </form>
      </div>
  </div>
</div>
