<div class="flex-row">
  <footer class="home" id="home">
    <div class="content" [ngClass]="{ 'hshift': carPosition <= 80 }">
      <h2 class="text-dark text-center"><b> "Drive Your Dreams, Anywhere, Anytime"</b></h2>
      <h5 class="text-center" style="color: black;">Our car rental application puts you in the driver's seat, allowing you to explore your dreams on the road, no matter where or when. Experience the freedom and convenience of renting a car at your fingertips.
      </h5>
    </div>

    <div class="image">
      <img src="assets/img/nissan_gtr_0.png" alt="">
    </div>
  </footer>
</div>
