<app-customer-nav></app-customer-nav>
<div class="about-page">
  <div class="image-page">
    <img class="image" src="../../../assets/img/campbell-3ZUsNJhi_Ik-unsplash.jpg"
      alt="about us background propshare capital" />
    <div class="content">
      <h1 class="title-page">About Us</h1>
    </div>
  </div>
</div>
<br />

<h2 class="title-view">Who We Are</h2>

<div class="content-text">
  <p>
    Car rental with driver is a service that allows individuals to temporarily use a vehicle owned by a rental company along with a professional driver, in exchange for a fee. It offers a convenient and reliable transportation solution for various purposes, such as travel, business trips, or temporary transportation needs.
  </p>
  <p>
    The process of renting a car with driver typically involves the following steps:
  </p>
  <ol>
    <li>Reservation: Customers can make a car rental reservation with driver through various channels, such as online platforms, mobile apps, or by contacting the rental company directly. They provide details such as the desired pick-up location, rental duration, and any specific requirements.</li>
    <li>Verification and Documentation: When the rental car with driver arrives, the customer needs to provide valid identification and any additional information requested by the rental company. The rental company verifies the information and ensures that the customer's requirements are met.</li>
    <li>Travel and Assistance: The professional driver will transport the customer to their desired destinations. They will ensure a safe and comfortable journey, providing assistance as needed throughout the rental period.</li>
    <li>Service Completion: Once the rental period is over, the customer concludes the service with the rental company. They may provide feedback on their experience and settle any outstanding payments.</li>
  </ol>
</div>


<br><br><br>

<br><br><br>
<!-- <div class="text">
<h2 class="text-center">Board of Directors</h2>

</div>
<br>

<table>
<tr>

  <td>
    <div class="img1">

      <h2>S Datta Siva Sai</h2>
      <p class="description" style="font-size: medium;">B.Tech(Civil Engineering) from SVU,Andra Pradesh</p>
      <a href="https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229">https://www.linkedin.com/in/samudrala-datta-siva-sai-240138229</a>
      </div>
  </td>
  <td>
    <div class="img2">
      <h2>Akash HN</h2>
      <p class="description" style="font-size: medium;">B.E(Civil Engineering) from VTU,Karnataka</p>
      <a href="https://in.linkedin.com/in/akash-h-n-1524071b9/">https://in.linkedin.com/in/akash-h-n-1524071b9/</a>
    </div>
  </td>

  <td>
    <div class="img6">
      <h2>Lakshmi Poojitha</h2>
      <p class="description" style="font-size: medium;">B.Tech(Electronics & Communication) from JNTU,Andra Pradesh</p>
      <a href="https://in.linkedin.com/in/deepak-ramineedi-449a465">https://in.linkedin.com/in/deepak-ramineedi-449a465</a>
    </div>
  </td>


</tr>


<tr>

  <td>
    <div class="img5">
      <h2>Shireesha M</h2>
      <p class="description" style="font-size: medium;">B.E(Computer Science) from VTU,Karnataka</p>
      <a href="https://www.linkedin.com/in/shireesha-m-601568252">https://www.linkedin.com/in/shireesha-m-601568252</a>
    </div>

  </td>
  <td>
    <div class="img3">
      <h2>Gowtham</h2>
      <p class="description" style="font-size: medium;">B.Sc(Computer Science) from SVU,Andra Pradesh</p>
      <a href="https://www.linkedin.com/in/chintu-gowtham-570911257">https://www.linkedin.com/in/chintu-gowtham-570911257</a>
    </div>
  </td>
  <td>
    <div class="img4">
      <h2>K Shivakrishna Reddy</h2>
      <p class="description" style="font-size: medium;">MCA from JNTUK,Andra Pradesh</p>
      <a href="http://linkedin.com/in/siva-krishna-reddy-kamireddy-241465231">http://linkedin.com/in/siva-krishna-reddy-kamireddy-241465231</a>
      </div>
  </td>






</tr>
</table>
<br><br><br> -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Contact Us</h4>
        <p>Whitefield Car Rental Street, Bangalore</p>
        <p>Phone: +1 123-456-7890</p>
        <p>Email: feuji@carrental.com</p>
      </div>
      <div class="col-md-6">
        <h4>Follow Us</h4>
        <ul class="social-media-list">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <div class="text-center">
        <p>&copy; 2023 Car Rental. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
