<app-customer-nav></app-customer-nav>
<div class="about-page">
  <div class="image-page">
    <img class="image" src="../../../assets/img/campbell-3ZUsNJhi_Ik-unsplash.jpg"
      alt="about us background propshare capital" />
    <div class="content">
      <h1 class="title-page">About Us</h1>
    </div>
  </div>
</div>
<br />

<h2 class="title-view">Who We Are</h2>

<div class="content-text">
  <p>
    Car rental with driver is a service that allows individuals to temporarily use a vehicle owned by a rental company along with a professional driver, in exchange for a fee. It offers a convenient and reliable transportation solution for various purposes, such as travel, business trips, or temporary transportation needs.
  </p>
  <p>
    The process of renting a car with driver typically involves the following steps:
  </p>
  <ol>
    <li>Reservation: Customers can make a car rental reservation with driver through various channels, such as online platforms, mobile apps, or by contacting the rental company directly. They provide details such as the desired pick-up location, rental duration, and any specific requirements.</li>
    <li>Verification and Documentation: When the rental car with driver arrives, the customer needs to provide valid identification and any additional information requested by the rental company. The rental company verifies the information and ensures that the customer's requirements are met.</li>
    <li>Travel and Assistance: The professional driver will transport the customer to their desired destinations. They will ensure a safe and comfortable journey, providing assistance as needed throughout the rental period.</li>
    <li>Service Completion: Once the rental period is over, the customer concludes the service with the rental company. They may provide feedback on their experience and settle any outstanding payments.</li>
  </ol>
</div>


<br><br><br>

<div class="testimonials">
  <h2 class="title-view">Testimonials</h2>
  <div class="testimonials-inner">
  <div class="testimonial">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5SmEC7CEtvO_r16ixMW0fiHJX_0B6VmYkuA&usqp=CAU" alt="Testimonial 1">
    <p class="testimonial-text">"I had an amazing experience renting a car with driver from Car Rental. The driver was professional and punctual, and the vehicle was in excellent condition. Highly recommended!"</p>
    <p class="testimonial-author">- Vin Diesel</p>
  </div>
  <div class="testimonial">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY7eL6jOWJrnFcR79rPHG9R71DkRrqIs8GJA&usqp=CAU" alt="Testimonial 2">
    <p class="testimonial-text">"Car Rental made my business trip so much easier. The driver was knowledgeable about the city and took me to all my meetings on time. I will definitely use their service again!"</p>
    <p class="testimonial-author">- Paul Walker</p>
  </div>
  <div class="testimonial">
    <img src="../../../assets/img/blackcar.jpg" alt="Testimonial 3">
    <p class="testimonial-text">"I had a fantastic family vacation thanks to Car Rental. The driver was friendly and helpful, and we felt safe throughout the trip. I highly recommend their services!"</p>
    <p class="testimonial-author">- Michael Johnson</p>
  </div>

</div>
</div>


<br><br><br>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Contact Us</h4>
        <p>Whitefield Car Rental Street, Bangalore</p>
        <p>Phone: +1 123-456-7890</p>
        <p>Email: feuji@carrental.com</p>
      </div>
      <div class="col-md-6">
        <h4>Follow Us</h4>
        <ul class="social-media-list">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <div class="text-center">
        <p>&copy; 2023 Car Rental. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
