<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Manage Brand</div>

  <div class="page__content shadow p-3 position-relative">
    <div class="d-flex justify-content-end mb-3">
      <!-- Filter -->
      <div class="search-data">
        <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search here">
        <button class="btn btn-sm btn-outline-dark" routerLink="/admin/addbrand">Add Brand</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th scope="col">Brand Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let brand of getCurrentPageProducts() | filter:searchText, let i=index">
              <th>{{i+1}}</th>
              <td>{{brand.brandName}}</td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination controls -->
    <div class="pagination">
      <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(1)">1</button>
      <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">&lt;&lt;</button>
      <button class="btn btn-success">{{currentPage}} / {{totalPages}}</button>
      <button class="pagination-button" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">&gt;&gt;</button>
      <button class="pagination-button" [disabled]="currentPage === totalPages" (click)="changePage(totalPages)">{{totalPages}}</button>
    </div>
      </div>
      <div class="col-md-6">
        <img class="object-cover object-center rounded" alt="hero" src="../../../assets/img/Timer.jpg">

        <!-- <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/420x360/?car"> -->
      </div>
    </div>


  </div>
</div>
