<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/img/carlogo.png" height="30" style="margin-top: 2px" />
    <b style="color: rgba(94, 92, 92, 0.788); font-size: medium">Rentalcars.com</b>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2"></h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/managebrand">
    <mat-icon>time_to_leave</mat-icon> Manage Brand
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/managevehicle">
    <mat-icon>airport_shuttle</mat-icon> Manage Vehicle
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/managebooking">
    <mat-icon>event_note</mat-icon> Manage Booking
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/manageuser">
    <mat-icon>person_add</mat-icon> Reg User
  </a>
</mat-nav-list>
