
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Admin Section</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <!-- side Bar body -->
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
    <li>Ank</li>
    <li></li>
    <li></li>
    <li></li>

  </div>
</div>
<!--  -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
      <img
        src="assets/img/carlogo.png"
        height="30"
        style="margin-top: 2px;"
      />
      <b style="color: rgba(94, 92, 92, 0.788); font-size: medium;">Rentalcars.com</b>
    </a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item dropdown me-3 me-lg-1">
        <span  class="navbar-brand me-2 mb-1 d-flex align-items-center"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions">
          <b style="color: rgba(94, 92, 92, 0.788); cursor: pointer;">DashBoard</b></span>
         </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item dropdown me-3 me-lg-1">
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#"><b style="color: rgba(94, 92, 92, 0.788);">Graph Dashboard</b></a>
         </li>
    </ul>
    <form class="d-flex" role="search">
      <button class="btn btn-outline-info" type="submit">Logout</button>
    </form>
    
  </div>
  
</nav> 




