<div class="container-fluid">

  <!-- -------------Login form starts------- -->
  <div class="form-container">
    <div class="logo-div text-center mb-3">
      <img src="assets/img/carlogo.png" height="30" style="margin-top: 2px" />
          <b style="color: rgba(94, 92, 92, 0.788); font-size: medium"
            >Rentalcars.com</b
          >
    </div>
    <h2 class="text-primary text-center">Fogot Password</h2>
    <form [formGroup]="fogotPasswordForm" novalidate (ngSubmit)="fogotPassword()">
      <!-- Email input -->
      <div class=" mb-2 mt-3">
        <label class="form-label text-dark" for="email" >Email</label>
        <input type="email" id="email" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && fogotPasswordForm.controls['email'].errors }"/>
      </div>
      <!-- Error message starts-->
      <div *ngIf="submitted || (fogotPasswordForm.controls['email'].invalid && (fogotPasswordForm.controls['email'].dirty || fogotPasswordForm.controls['email'].touched))">
        <span *ngIf="fogotPasswordForm.controls['email'].errors?.['required']" class="text-danger">
          Email is required!
        </span>
        <span *ngIf="fogotPasswordForm.controls['email'].errors?.['email']" class="text-danger">
          Email is not valid,Please enter valid email address!
        </span>
      </div>
      <!-- Error message ends-->

      <div class="row mb-3 mt-2">
        <div class="col forgot">
          <!-- Simple link -->
          <p>Remember password? <a routerLink="/login" class="text-info">&nbsp;Login</a></p>

        </div>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Send</button>

    </form>
  </div>
  <!-- -------------Login form ends------- -->
</div>
