<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <!-- cards -->
    <div class="container p-6">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="hs_inner-service" routerLink="/admin/manageuser">
              <div class="hs_icon">
                <img src="../../../assets/img/User.png" />
              </div>
              <h2>Count of Rgistered Users</h2>
              <b>{{ countOfUsers }}</b>
            </div>
          </div>
            <div class="col-lg-4 col-md-6 col-12">

              <div class="hs_inner-service" routerLink="/admin/managebrand">
                <div class="hs_icon">
                  <img src="../../../assets/img/fiat_0.png" />
                </div>
                <h2>Count of Car-Brands</h2>
                <b>{{ countOfBrand }}</b>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="hs_inner-service" routerLink="/admin/managebooking">
                <div class="hs_icon">
                  <img src="../../../assets/img/Booking2.png" />
                </div>
                <h2>Booking`s Accepted</h2>
                <b>{{ countOfUsers }}</b>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="hs_inner-service" routerLink="/admin/managevehicle">
              <div class="hs_icon">
                <img src="../../../assets/img/fiat_0.png" />
              </div>
              <h2>Count of Vehicles</h2>
              <b>{{ countOfVehicle }}</b>
            </div>
        </div>
        </div>
    </div>
    <!-- card end -->
  </div>
</div>
