<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Manage Vehicle</div>

  <div class="page__content shadow p-3 position-relative">
    <div class="d-flex justify-content-end mb-3">

      <div class="search-data">
        <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search here">
        <button class="btn btn-sm btn-outline-dark extra-css" routerLink="/admin/addvehicle">Add Vehicle</button>
      </div>
    </div>
    <table class="table text-center">
      <!-- {{ vehicleData | json }} -->
      <thead>
        <tr>
          <th><strong>Sl.no</strong></th>
          <th><strong>Vehicle Name</strong></th>
          <th><strong>Vehicle Number</strong></th>
          <th><strong>Seats</strong></th>
          <th><strong>fuelType </strong></th>
          <th><strong>Brand </strong></th>
          <th><strong>Per Day Rent</strong></th>
          <th><strong>Action</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of getCurrentPageProducts() | filter:searchText , let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ vehicle.vehicleName }}</td>
          <td>{{ vehicle.vehicleNumber }}</td>
          <td>{{ vehicle.seatingCapacity }}</td>
          <td>{{ vehicle.fuelType }}</td>
          <td>{{ vehicle.brand?.brandName }}</td>
          <td>{{ vehicle.rent?.rentAmount | currency: 'INR' }}</td>

          <td>
            <button (click)="edit(vehicle.vehicleId)" class="bordernone" >
              <i
                class="fa-solid fa-pen-to-square fa-lg"
                style="color: #1160e8"
              ></i></button
            >&nbsp;
            <button (click)="delete(vehicle.vehicleId)" class="bordernone">
              <i class="fa-solid fa-trash" style="color: #ff0000"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination controls -->
    <div class="pagination">
      <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(1)">1</button>
      <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)"><<
      </button>
      <button class="btn btn-success">{{currentPage}} / {{totalPages}} </button>
      <button class="pagination-button" [disabled]="currentPage === totalPages"
        (click)="changePage(currentPage + 1)">>></button>
      <button class="pagination-button" [disabled]="currentPage === totalPages"
        (click)="changePage(totalPages)">{{totalPages}}</button>
    </div>
  </div>
</div>
