<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Manage Vehicle</div>

  <div class="page__content shadow p-3 position-relative">
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-sm btn-outline-dark">Add Vehicle</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-sm btn-outline-info">Edit</button>&nbsp;
              <button class="btn btn-sm btn-outline-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
