<app-customer-nav></app-customer-nav>


<br><br><br>

<!-- Footer code here -->

<div class="container">
  <div class="row m-5">
    <div class="col">
      <h1 class="hy-title">
        <div class="in_about">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="inner-about">
                  <figure class="image-1 "><img src="../../../assets/img/camaro_2.png" alt=""></figure>
                  <figure class="image-2 zoom"><img src="../../../assets/img/acura_1.png" alt=""></figure>
                  <figure class="image-3 zoom"><img src="../../../assets/img/acura_0.png" alt=""></figure>
                </div>
                <br>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel, rerum aperiam illum nihil
                  nobis ex eum officia magnam, porro necessitatibus reprehenderit. Sit quasi error autem neque animi
                  culpa nulla optio qui.</h5>
              </div>
            </div>
          </div>
        </div>
      </h1>
    </div>
    <div class="col-8 m-2 booking-container">
      <!-- Your booking card content here -->
      <div class="col-sm-8 m-2 booking-container" *ngFor="let booking of bookings">
        <div class="card-horizontal" style="border: 2px solid #343a40; display:flex; align-items: center;"><br>
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src={{booking?.vehicle?.vehicleImages![0].imageUrl}} class="card-img" alt="Fissure in Sandstone">
              <div>
                <li class="list-group-item"><b>Traveller Name:</b> {{ booking.travellerName }}</li>
              </div>
              <div>
                <li class="list-group-item"><b>Mobile No:</b>{{ booking.travellerNumber }}</li>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title m-2" style="text-align: right;">
                  <span></span>
                  <button
                    [ngClass]="{'text-success': booking.status?.statusName === 'accept', 'text-info': booking.status?.statusName === 'Pending', 'text-danger': booking.status?.statusName === 'reject'}">
                    {{ booking.status?.statusName?.toUpperCase() }}
                  </button>
                  <div class="row no-gutters">
                    <div class="col-md-12 text-right mt-2" *ngIf="booking.status?.statusName !== 'reject'">
                      <button class="btn btn-danger" (click)="onDeleteBooking(booking.bookingId)">Cancel Booking</button>
                    </div>
                  </div>
                </h5>
                <h5 class="card-title">{{booking.vehicle?.brand?.brandName}},{{booking.vehicle?.vehicleName }} </h5><br>
                <!-- <h5 class="card-title"></h5><br> -->
                <div>
                  <li class="list-group-item"><b>Pick-up Date:</b> {{ booking.pickUpDate | date}}</li>
                </div>
                <div>
                  <li class="list-group-item"><b>Drop-off Date: </b>{{ booking.dropDate | date}}</li>
                </div><br>
                <div>
                  <li class="list-group-item"><b>Pick-up Address: </b>{{ booking.pickUpAddress }}</li>
                </div>
                <div>
                  <li class="list-group-item"><b>Total Amount: </b> {{ booking.totalAmount  | currency: 'INR' }}</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Rentalcars.com
          </h6>
          <p>
            Here wre are providing cars to the user's with affordable price.
            Hope you can enjoy our services.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            rental@cars.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91 7325049138</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Feuji.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
