<app-customer-nav></app-customer-nav>
<div class="bdy">
  <div class="propshare-page-benner-container">
    <div class="cover-img-wrapper">
      <img class="cover-img" src="../../../../assets/img/coverpic1.jpg"alt="property listing cover page" />
        <!-- <div class="cover-content">
              <h6 class="title">All Vehicles</h6>
          </div> -->
    </div>
  </div>
  <div class="col-md-12">
    <div class="properties-filter-outer-wrapper">
      <div class="properties-filter-inner-wrapper">

        <select class="city" [(ngModel)]="filterText">
          <option [selected]="true" value="">All Cars</option>
          <option *ngFor="let car of vehicles" [value]="car.brand.brandName">{{ car.brand.brandName }}</option>
        </select>

        <select class="sort" [(ngModel)]="sortBy">
          <option value="Fuel Type">Fuel Type</option>
          <option value="seatingCapacity">Seating Capacity</option>
          <option value="Brand">Brand</option>
          <option value="Most Blocked By Users">Most Booked</option>
        </select>

        <div class="search">
          <i class="fas fa-search"></i>
          <input type="text" [(ngModel)]="searchByCarType" placeholder="Search car type here" (input)="applyFilter()">
        </div>

        <!-- <div *ngFor="let car of vehiclesBasedOn">

          <h3>{{ car.vehicleName }}</h3>
          <p>{{ car.vehicleNumber }}</p>
          <p>{{ car.brand.brandName }}</p>
        </div> -->

      </div>




      </div>
    </div>
  </div>


  <div class="maincard">
    <!-- {{vehicles | json}} -->
    <!-- loop through properties using ngFor directive -->
    <div class="card card1" *ngFor="let property of vehicles">
      <h2 class="title">{{ property?.brand?.brandName}}</h2>

      <!-- <h1 class="title">{{ property.vehicleName }}</h1> -->
      <div class="title">
        <h5><i class="fas fa-car"></i>&nbsp;{{ property?.vehicleName}}</h5>

        <!-- {{ property?.vehicleName}} -->
      </div>
      <img class="card-img-top" src="{{ property.vehicleImage.frontImage }}" alt="Card image cap" />
      <div class="div1">
        <div><i class="fas fa-car"></i> Car Number</div>
        <div class="propertyvalues">
          {{ property.vehicleNumber  }}
        </div>
      </div>
      <div class="div1">
        <div><i class="fa-solid fa-user"></i> Seating Capacity</div>
        <div class="propertyvalues">{{ property.seatingCapacity }} Seater</div>
      </div>
      <div class="div1">
        <div><i class="fas fa-gas-pump"></i> Fuel Type</div>
        <div class="propertyvalues">
          {{ property.fuelType  }}
        </div>
      </div>

      <div class="div1">
        <div><i class="fas fa-rupee-sign"></i> Rent Per Day</div>
        <div class="propertyvalues">
          {{ property.rent.rentAmount |currency : "INR" : "symbol" }}
        </div>
      </div>


      <div class="butt">
        <button type="button" class="btn btn-success" *ngIf="customer != null"
          [routerLink]="['/home', property.vehicleId]">
          View Car Details
        </button>
        <button type="button" class="btn btn-primary" *ngIf="customer == null" routerLink="">
          View Car Details
        </button>
      </div>
    </div>
  </div>




