<mat-toolbar>
  <mat-toolbar-row class="justify-content-between "style="height:50px">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
     <!-- Right profile navbar elements starts-->
     <div class="d-flex align-items-center">
      <div><b>Hey,</b> {{userName}} &nbsp;</div> &nbsp;
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
        <!-- --------- User Icon ---------------- -->
        <a class="user" style="text-decoration: none; font-size: large;">
          <b class="text-dark"><i class="fa-solid fa-user"></i></b>
        </a>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item navbar-dropdown-item" [routerLink]="['/changepassword']"><i class="fa-solid fa-lock fa-flip"></i>&nbsp;Change Password</a>
          </li>
          <li>
            <a class="dropdown-item navbar-dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right profile navbar elements ends-->
  </mat-toolbar-row>
</mat-toolbar>
