<p>carousel works!</p>
<!-- Carousel wrapper start -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-interval="2000">
  <!-- Indicators down bars starts-->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <!-- Indicators down bars ends-->
  <!-- Inner start slider-->
  <div class="carousel-inner">
    <!-- Single item slide 1-->
    <div class="carousel-item active">
      <img src="assets/img/WelcomeImage.jpg" class="d-block w-100" alt="Sunset Over the City" style="height: 500px;"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>"Unlock the Road to Adventure"</h5>
        <p>With our car rental application, you can unlock the road to endless adventures. Discover new destinations, create unforgettable memories, and embrace the thrill of the open road with our diverse fleet of vehicles.</p>
      </div>
    </div>
    <!-- Single item slide 2-->
    <div class="carousel-item">
      <img src="assets/img/CaroselImage2.jpg" class="d-block w-100" alt="Canyon at Night" style="height: 500px;"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>"Simplify Your Journey, Rent with Ease"</h5>
        <p>Say goodbye to complicated car rentals. Our user-friendly application simplifies the entire process, ensuring a seamless and hassle-free experience. Renting a car has never been this easy and convenient.</p>
      </div>
    </div>
    <!-- Single item slide 3-->
    <div class="carousel-item">
      <img src="assets/img/automotive-banner-image.png" class="d-block w-100" alt="Cliff Above a Stormy Sea"  style="height: 500px;"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Cultivate Your Green Paradise</h5>
        <p>Unleash your inner gardener and cultivate your own green paradise, where serenity and beauty harmoniously coexist</p>
      </div>
    </div>
  </div>
  <!-- Inner end slider-->
  <!-- Controls arrow buttons starts-->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <!-- Controls arrow buttons ends-->
</div>
<!-- Carousel wrapper end -->
