<app-navbar></app-navbar>
<app-carousel></app-carousel>
<hr />
<h1 class="text-center"><i> "Choose Your Adventure"</i></h1>
<!-- Card -->
<div class="displayCard">
  <ul>
    <li>
      <!-- Card -->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Indian</mat-card-title>
          <mat-card-subtitle>Desi khana</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../.././assets/img/ferrari_spider_488_0.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. The Shiba Inu is the smallest of the six
            original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
      </mat-card>
      <!-- Card End -->
    </li>
    <li>
      <!-- Card -->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Italian</mat-card-title>
          <mat-card-subtitle>Spicy and Tasty</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../.././assets/img/citroen_0.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
      <!-- Card End -->
    </li>
    <li>
      <!-- Card -->
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Chinese</mat-card-title>
          <mat-card-subtitle>Mix and match</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../.././assets/img/fiat_1.png"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <span>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan.
          </span>
        </mat-card-content>
      </mat-card>
      <!-- Card End -->
    </li>
  </ul>
</div>
<!-- Card End -->

<!-- Animation Start-->
<app-animation></app-animation>
<!-- Animation End-->
<hr />
<!-- Footer Start-->
<app-footer></app-footer>
<!-- Footer End-->
