<div class="navbar" [ngClass]="{'navbar-scrolled': isScrolled}">
  <!-- <div class="site-menu">
    <div class="hamburger pointer"><i class="material-icons">menu</i></div>
  </div> -->

  <div class="site-name">

    <img src="assets/img/carlogo.png" height="30" style="margin-top: 2px"
    [ngClass]="{'navbar-scrolled': isScrolled}" />
        <b style="color: rgba(94, 92, 92, 0.788); font-size: medium"
          >Rentalcars.com</b>
  </div>

  <div class="site-menu">

    <ul class="list">
      <li>
        <button class="buttons" *ngIf="role() == 'admin' " [ngClass]="{'buttons-scrolled': isScrolled}" routerLink="/admin/dashboard">Admin DashBoard</button>
      </li>
        <!-- <li>
          <button class="buttons" [ngClass]="{'buttons-scrolled': isScrolled}" routerLink="/home">HOME</button>
        </li> -->
      <li>
        <button class="buttons" routerLink="/customer" [ngClass]="{'buttons-scrolled': isScrolled}"
          routerLinkActive="router-link-active">
          CARS
        </button>
      </li>
      <li>
        <button class="buttons" routerLink="/customer/about" [ngClass]="{'buttons-scrolled': isScrolled}"
          routerLinkActive="router-link-active">
          ABOUT US
        </button>
      </li>
      <li>
        <button class="buttons" [ngClass]="{'buttons-scrolled': isScrolled}" routerLink="/contact">CONTACT US</button>
      </li>

    </ul>
  </div>

  <div style="float: right; padding-right: 3rem">
    <button class=" login" style="margin-right: 10px;" [ngClass]="{'buttons-scrolled': isScrolled}" *ngIf="!isLoggedInDetails" routerLink="/login">
      SIGN IN
    </button>
    <button class=" login" [ngClass]="{'buttons-scrolled': isScrolled}" *ngIf="!isLoggedInDetails" routerLink="/register">
      REGISTER
    </button>

    <div style="padding-right: 3rem" class="profile" *ngIf="isLoggedInDetails"
      [ngClass]="{'buttons-scrolled': isScrolled}" (mouseenter)="showDropdown()">
      {{ userName + " "
      }}<span style="
          background-image: url(https://m.media-amazon.com/images/G/02/CerberusPrimeVideo-FN38FSBD/adult-1.png);
        " class="ggdl93"></span>
      <div class="dropdown" *ngIf="isDropdownVisible">
        <div class="dropdown-content">
          <ul (mouseleave)="hideDropdown()">
            <li>
              <a class="dropdown-option view-bookings" [routerLink]="['/changepassword']"><i class="fa-solid fa-lock fa-flip"></i>&nbsp;Change Password</a>
            </li>
            <li class="dropdown-option view-bookings" (click)="viewbookings()" (mouseover)="holdDropdown()">
              <i class="fas fa-calendar-alt"></i> View Bookings
            </li>

            <li class="dropdown-option log-out" (click)="removeCustomer()" (mouseover)="holdDropdown()">
              <i class="fas fa-sign-out-alt"></i> Log Out
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <hr style="color: whitesmoke;width: 100%;margin: 0px;">
</div>
