<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Registered Users</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="search-data">
      <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search here based on name,m.no,email">
     </div>
    <!-- {{authUser | json }} -->
    <table class="table" *ngIf="authUser && authUser.length > 0" border="1">
      <thead>
        <tr>
          <th>Sl.no</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Email</th>
          <th scope="col">MobileNumber</th>
          <th scope="col">MemberSince</th>
          <!-- <th scope="col">Role</th> -->
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of authUser |filter:searchText,let i=index">
          <th>{{i+1}}</th>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobileNumber}}</td>
          <td>{{user.memberSince | date:'shortDate'}}</td>
          <!-- <td>{{user.role}}</td> -->
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox"
                (change)="onChange($any($event).target.checked, user.userId)"
                [checked]="user.role=='admin'"
                role="switch" id="flexSwitchCheckChecked"  />
              <label class="form-check-label" for="flexSwitchCheckChecked">Switch</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="!authUser || authUser.length <= 0">No Record Found</p>
  </div>

  <!-- <ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular> -->
  <!-- </div> -->
</div>



